# Homework 9

Group Members: DT Litster, Melanie Neller, Nathan Schill, Dallin Seyfried

In this homework project, you will create a model of the value of single family homes built in 1985 or later in an area of your choice (outside of Utah valley).  You will use Kalman filtering to update your forecast with data.

### Problem 1

Choose a real estate market outside of Utah County. Create a model that
depends on time to predict the value of single family homes built 1985 or
later. You may include other input to your model like home size, lot size,
etc, but you also need to include time as an input. Explain your model in
detail.

### Problem 2

Obtain freely available, but noisy data regarding the value of single family
homes in the market you chose. Talk to me please if you need ideas on
how to obtain that.

We downloaded and cleaned a dataset from Kaggle.com that had been compiled from
data available from the city of New York. We removed sales less than $100,000
removed all columns other than sale price, sale date, year built, neighborhood
square footage. We also removed duplicate transactions, where we assume any two
transactions on the same day selling the same home is a duplicate transaction.

### Problem 3

Now use Kalman filtering to model the value of homes in your market as
time progresses.

### Problem 4

Use visuals and brief explanations to demonstrate how your Kalman filtering answer compares to your model without Kalman filtering.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("nyc-property-sales-cleaned.csv")
df.head(10)

,NEIGHBORHOOD,ADDRESS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,GREENWICH VILLAGE-WEST,621 GREENWICH STREET,1741.0,3866.0,2017.0,17000000.0,2022-04-12
1,GREENWICH VILLAGE-WEST,119 LEROY STREET,2098.0,3239.0,2017.0,8250000.0,2022-11-30
2,GREENWICH VILLAGE-WEST,117 LEROY STREET,2507.0,3454.0,2017.0,13500000.0,2022-07-25
3,SOUTHBRIDGE,136 BEEKMAN STREET,477.0,1900.0,1998.0,3500000.0,2022-02-03
4,CASTLE HILL/UNIONPORT,2030 STORY AVENUE,3604.0,1860.0,1987.0,642000.0,2022-10-21
5,CITY ISLAND,652 CITY ISLAND AVENUE,2693.0,1379.0,2004.0,400000.0,2022-09-27
6,CITY ISLAND,656 CITY ISLAND AVENUE,2150.0,2069.0,2005.0,425000.0,2022-02-02
7,CITY ISLAND,658 CITY ISLAND AVENUE,3713.0,2069.0,2005.0,450000.0,2022-05-16
8,CITY ISLAND,647 MINNIEFORD AVENUE,3219.0,2250.0,1999.0,630000.0,2022-07-27
9,CITY ISLAND,158 FORDHAM STREET,2500.0,1496.0,2020.0,745000.0,2022-02-08